h1 {
    opacity: 87%;
    font-size: 1.2rem;
}

main {
    header
    {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1rem;
    }
}

p {
    opacity: 65%;
}

code{
    .css-class, .css-property { 
        opacity: 87%;
    }
}

li {
    opacity: 65%;
}

#navbar {
    a {
        font-size: 1.25rem;
    }
}